.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




header .container-fluid{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul li {
  list-style: none;
  display: inline-block;
}

header .logo img {
  max-width: 14.6rem;
}

header {
  padding: 1.5rem 0;
}

header ul li a {
  padding: .5rem 1rem;
}

header ul {
  margin: 0;
}


/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --black-color: #313232;
    --theme-color: #224229;
    --orange-color: orange;
    --green-color: green;
    --gray-color: #828787;
    --light-gray-color: #E2E6DB;
    --white-color: #ffffff;
    --link-hover-color: #0d6efd;
    --red-color: red;
    --bg-light: #f5f5f5;
    --border: #dddddd;
}

.gray-text {
    color: var(--gray-color) !important;
}

.red-text {
    color: var(--red-color);
}

.gray-bg {
    background-color: var(--light-gray-color) !important;
}

a {
    color: var(--theme-color);
    transition: .5s ease;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    color: var(--link-hover-color);
}

html {

    font-size: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--gray-color);
    font-size: 1.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Libre Baskerville', serif;
    color: var(--black-color);
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5rem;
    margin-top: 0;
    color: var(--theme-color);
    text-align: center;
}

h2 span {
    font-style: italic;
}

h2.wbb {
    position: relative;
}

h2.wbb::after {
    content: '';
    position: absolute;
    width: 10rem;
    height: 0.2rem;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--light-gray-color);
    z-index: 1;
}

.sub-title {
    color: var(--black-color);
    font-size: 1.6rem;
    letter-spacing: .4rem;
    margin-bottom: 1.5rem;
}

a,
button,
p {
    font-size: 1.6rem;
}

.btn-v {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .2rem;
    border-style: solid;
    border-width: .1rem;
    padding: 1.5rem 5rem 1.5rem 5rem;
    border-color: var(--theme-color);
    text-align: center;
    transition: .5s ease;
}

.btn-v.white.with-white-bg {
    background-color: var(--white-color);
    color: var(--theme-color);
}

.btn-v:hover,
.btn-v.white.with-white-bg:hover {
    background-color: var(--theme-color);
    color: var(--white-color);
}

.btn-v.white {
    color: var(--white-color);
    border: .1rem solid var(--white-color);
}

.btn-v.white:hover {
    border: .1rem solid var(--theme-color);
}

.btn-v.lg.within-section {
    margin: 0 auto;
    width: 90%;
}

.btn-v.lg {
    padding: 2rem 5rem 2rem 5rem;
    text-transform: capitalize;
    font-size: 2.2rem;
}


.carousel-indicators button {
    background-color: var(--theme-color) !important;
    width: .7rem !important;
    height: .7rem !important;
    margin-right: 1.5rem !important;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 100%;
}

.carousel,
.carousel-inner,
.carousel-item,
.picsum-img-wrapper,
.picsum-img-wrapper img {
    height: 100%;
}

.picsum-img-wrapper img {
    object-fit: cover;
}

.carousel-indicators {
    margin-bottom: 0 !important;
}

.gap-top-lg {
    margin-top: 20rem !important;
}

.gap-top {
    margin-top: 10rem !important;
}

.gap-bottom {
    margin-bottom: 10rem !important;
}

.gap-bottom-lg {
    margin-bottom: 20rem !important;
}

.gap-top-sm {
    margin-top: 5rem !important;
}

.gap-bottom-sm {
    margin-bottom: 5rem !important;
}

.f-sm {
    font-size: 1.4rem !important;
}

.f-md {
    font-size: 1.6rem !important;
}

.f-lg {
    font-size: 1.8rem !important;
}

.f-xl {
    font-size: 2rem !important;
}

.container-fluid {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
}

.container-fluid.p-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

img {
    max-width: 100%;
}

.shake-animation:hover {
    animation-name: elementor-animation-wobble-horizontal;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.shake-animation-v:hover {
    animation-name: elementor-animation-wobble-vertical;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.sy-gap {
    padding: 5rem 0;
}

.shift-bottom {
    margin-bottom: -70rem;
}

.shares-block a {
    font-size: 2rem;
    border: 1px solid var(--light-gray-color);
    border-radius: 100%;
    display: flex;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    transition: .5s ease;
    color: var(--theme-color);
}

.shares-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    margin-top: 3rem;
    margin-left: 0;
}

.shares-block a:hover {
    background-color: var(--theme-color);
    color: var(--white-color);
}

input,
textarea {
    outline: 0;
    border: .1rem solid var(--light-gray-color);
    width: 100%;
    height: 5.6rem;
    padding: 1rem 1.5rem;
}

textarea {
    min-height: 8rem;
}

label {
    color: var(--theme-color);
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
}

.form-group {
    margin-bottom: 3rem;
}

.logo-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--theme-color) !important; 
}

.error {
    color: red;
    margin-top: 5px;
    text-align: left;
}

.product {
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 10px;
}

.btn-v.btn.sm {
    padding: 0.3rem 1rem;
}

.full-width-carousel {
    height: calc(100vh - 64px);
}

.owl-carousel,
.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel.owl-drag .owl-item,
.owl-slide,
.owl-slide img {
    height: 100%;
}

.owl-slide img {
    width: 100%;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    right: auto;
    bottom: auto;
    top: 50%;
    left: 8%;
    color: var(--black-color);
    text-align: center;
    transform: translateY(-50%);
    width: 28%;
}

.category-item {
    width: 19%;
}

.category-wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-wrapp h3 {
    margin-bottom: 0;
    margin-top: 2rem;
}

.category-content {
    text-align: center;
}

.category-content img {
    width: 178px;
    height: 178px;
    object-fit: cover;
    border-radius: 100%;
    transition: .5s ease;
}

.p-image-block img {
    width: 100%;
    height: 31.6rem;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
}

.p-image-block.sm img {
    height: 22.6rem;
}

.p-image-block img:hover {
    transform: scale(1.3);
}

.p-image-block {
    overflow: hidden;
}

.p-label {
    text-align: center!important;
    color: #fff;
    font-size: 1.4rem;
    padding: 0 .7rem;
    text-transform: capitalize;
    font-weight: 500;
    display: block;
    position: relative;
    line-height: 2.4rem;
    text-align: center;
    position: absolute;
    top: 1rem;
    right: 2rem;
    min-width: 4.7rem;
    z-index: 1;
}

.p-label.orange {
    background-color: var(--orange-color);
}

.p-label.red {
    background-color: var(--red-color);
}

.product-block > a {
    width: 100%;
}

.mid-banner-cnt.text-white.text-center {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 30%;
}

.mid-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
}

.category-big-cnt {
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 100%;
    z-index: 1;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer li {
    list-style: none;
    padding: .7rem 0;
}

footer a {
    color: var(--gray-color);
    font-size: 1.4rem;
}

footer a:hover {
    color: var(--theme-color);
}

footer .footer-top-block{
    padding: 3rem 0;
    border-top: .1rem solid var(--light-gray-color);
    border-bottom: .1rem solid var(--light-gray-color);
}

.footer-logo-block img {
    max-width: 14.6rem;
}


.f-links,
.f-logo,
.f-support-block {
    padding: 2rem 0;
}

.f-logo > div {
    width: 100%;
    text-align: center;
}

.f-support-block {
    padding-left: 5rem;
}

.footer-bottom-block {
    text-align: center;
    padding: 2rem 0;
}

footer .shares-block a {
    font-size: 2rem;
    border: 1px solid var(--light-gray-color);
    border-radius: 100%;
    display: flex;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    transition: .5s ease;
    color: var(--theme-color);
}

footer .shares-block a:hover {
    background-color: var(--theme-color);
    color: var(--white-color);
}

.shares-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    margin-top: 3rem;
}

.service-banner-wrapp i {
    font-size: 50px;
    color: var(--black-color);
}

.big-image-cnt {
    position: absolute;
    bottom: -10rem;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}

.ip-banner-wrapp {
    position: relative;
    width: 100%;
    height: 24.8rem;
}

.ip-banner-wrapp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ip-banner-wrapp > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-cnt-block {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: .1rem solid var(--light-gray-color);
}

.contact-cnt-block:nth-last-child(1) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.p-table-img img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

table th,
table td {
    padding: 10px;
    border: 1px solid var(--border);
}

table th {
    background-color: var(--theme-color);
    color: #ffffff;
}

table tr:nth-of-type(even) {
    background-color: #fafafa;
}

table td i {
    margin-right: 10px;
}

.checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .checkbox label {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .checkbox label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid var(--theme-color);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 6px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .checkbox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 5px;
    left: 3px;
    width: 10px;
    height: 10px;
    background-color: var(--theme-color);
  }

  .checkbox {
    margin-bottom: 1rem;
  }

  .admin-sidebar {
    border-right: 1px solid var(--border);
    width: 20%;
    background-color: var(--bg-light);
    padding-left: 5rem;
  }

  .admin-sidebar ul li {
    list-style: none;
  }

  .admin-sidebar ul li a {
    padding: 10px 0;
  }

  .admin-sidebar ul {
    margin: 0;
    padding: 0;
  }

  .admin-wrapp {
    border-top: 1px solid var(--border);
    height: calc(100vh - 86px);
  }

  .admin-cnt-wrapp {
    width: 80%;
  }

  .admin-wrapp .container-fluid {
    padding-right: calc(var(--bs-gutter-x) * .5) !important;
    padding-left: calc(var(--bs-gutter-x) * .5) !important;
    padding: 0 !important;
    height: 100%;
  }

  .admin-flex-block {
    height: 100%;
  }

  .admin-dashboard-cnt {
    text-align: center;
    margin-top: 10rem;
}

.p-detail-img-block img {
    width: 100%;
    height: 40rem;
}

.p-detail-price {
    font-size: 3rem;
    color: #ffffff;
    background-color: var(--theme-color);
    padding: 1rem 3rem;
    border-radius: 3rem;
}

.p-category {
    background-color: var(--orange-color);
    color: #ffffff;
    padding: 1rem 3rem;
    border-radius: 3rem;
    display: inline-block;
}

.succes-message {
    background-color: var(--green-color);
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    margin-bottom: 3rem;
    -webkit-animation: hideSection 5s forwards; 
    animation: hideSection 5s forwards;
}













@media(min-width: 767px) {
    .p-detail-cnt-block {padding-left: 5rem;}
}






















/* ================Animations================= */
@keyframes elementor-animation-wobble-horizontal {
    16.65% {
        transform: translateX(8px)
    }

    33.3% {
        transform: translateX(-6px)
    }

    49.95% {
        transform: translateX(4px)
    }

    66.6% {
        transform: translateX(-2px)
    }

    83.25% {
        transform: translateX(1px)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes elementor-animation-wobble-vertical {
    16.65% {
        transform: translateY(8px)
    }

    33.3% {
        transform: translateY(-6px)
    }

    49.95% {
        transform: translateY(4px)
    }

    66.6% {
        transform: translateY(-2px)
    }

    83.25% {
        transform: translateY(1px)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes hideSection {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes hideSection {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}




